.pd-layout{
  padding: 7px 24px;
}
.main-content{
  border-radius: 4px;
  margin: 10px;
  padding: 14px 24px;
  background-color: white;
  min-height: 80vh;
}

.d-flex{
  display: flex;
}
.flex-col{
  flex-flow: column;
}

.text-note{
  color: #8c8c8c;
  font-size: 0.85em;
}

.overview-item td{
  padding:1em 0em;
}
